img[height]  {border:5px solid red;} 

img[width] {border: 5px solid rgb(139, 139, 168) ;}

img[id*="ember"]  {border:5px solid rgb(0, 255, 42);
height: 250px;} 

img[class="valami"] {border: 5px solid blue ;
height: 150px;}

img[title="kutya3"] {border: 5px solid purple ;
height: 350px;}

img[alt="kutya33"] {border: 5px solid rgb(0, 0, 0) ;
    height: 350px;}
    